.btn-perrito{
    margin: 0 auto;
    display:block;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5 px;
}

#img-perrito{ /* //Selector de estilo */
    display: block;
    margin: 20px auto;

    width: 400px;
    height: 200px;
}

