.cuadro {
    background-color: aqua;
    width: 100px;
    height: 100px;
    
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding: 50px;
    /*display: inline-block;*/
    border: 10px solid black;
    border-radius: 10px 20px 30px 40px;

}
.el-1{
    background-color: violet;
    position: fixed;
    
}
.el-2{
    background-color: aqua;
    position: absolute;
    top: 0px;
    right: 0px;

    
}
.el-3{
    background-color: red;
    position: relative;
    bottom: 0px;
    left: 0px;
}
.el-4{
    background-color: yellow;
    position: static;
}
.el-5{
    background-color: blueviolet;
    position: static;
}
